#home {
  header {
		padding: 1rem;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 2rem;
		row-gap: 0.5rem;

		button {
			font-weight: 700;

			&.connect-wallet {
				font-size: 26px;
				
			}
			
			&.enter-game {
				font-size: 16px;
			}

			&.mint-button {
				font-size: 16px;
			}
		}

		p {
			color: $accentColor;
			font-weight: 700;
			margin: 0;

			&.subtitle {
				font-size: 52px;
			}

			&.price-detail {
				font-size: 24px;
			}
		}

		.mint-amount {
			display: flex;
			align-items: center;
			width: 150px;
			justify-content: space-between;

			button {
				background: transparent;
				color: $accentColor;
				font-size: 36px;
				font-weight: 700;
				height: 1em;
				line-height: 1em;
				padding: 0;
				cursor: pointer;

				&:hover {
					opacity: 0.7;
				}
			}

			span {
				color: $accentColor;
				font-size: 20px;
				font-weight: 700;
				width: 50px;
				text-align: center;
			}
		}

		.video-show {
			width: 400px;
			margin-top: 1rem;
		}
	}
}